doctype html
html(lang='en')
  head
    title Document
  body
    div
      h3 Product Name :  #{product.productName}
      h3 Product Type :  #{product.productType}
      h3 Title :    #{product.title}
      h3 Product Description :  #{product.productDetails}
      h3 Price :  #{product.price}
      a(href='http://localhost:3000/products/productview') Back
